@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

	:root {
		--nav-text-color: #ffffff;
		--nav-text-color-active: #94a3b8;
		--background-color: #00d96b;
		--dropdown-content: #00d96b;
		--color-dark-hover: #00ac56;
	}

	html {
		/* color: cyan; */
		font-family: 'Fira Code', monospace;
	}

	body {
		margin: 0;
		min-height: 100%;
		background: #334155;
		/* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
	}

	* {
		box-sizing: border-box;
	}

	/* Rules for icon sizes Start */

	.material-icons.md-18 {
		font-size: 18px;
	}

	.material-icons.md-24 {
		font-size: 24px;
	}

	.material-icons.md-36 {
		font-size: 36px;
	}

	.material-icons.md-48 {
		font-size: 48px;
	}

	/* Rules for icon sizes End */


	/* Nav Bar Start*/

	.headerNavigation {
		height: 80px;
		font-family: Verdana, sans-serif;
		/* background-color: var(--background-color); */
		background-color: #1e293b;
		border-bottom: 10px solid #0f172a;
		transition: height 0.25s ease-in-out;
		position: relative;
	}

	#btnContainer {
		height: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		display: flex;
		align-items: center;
		flex-direction: row;
		color: var(--nav-text-color);
	}




	.center {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		width: 50px;
	}

	.center:before,
	.center:after,
	.center div {
		background: #fff;
		content: "";
		display: block;
		height: 6px;
		border-radius: 3px;
		margin: 7px 0;
		transition: 0.5s;
	}

	.expand-menu-open .center:before {
		transform: translateY(12px) rotate(135deg);
	}

	.expand-menu-open .center:after {
		transform: translateY(-12px) rotate(-135deg);
	}

	.expand-menu-open .center div {
		transform: scale(0);
	}






	#btnContainer li:not(:first-child) {
		margin: 20px 20px;
	}

	#btnContainer li:first-child {
		margin: 0px 20px;
	}

	#btnContainer li>a,
	.dropbtn {
		display: inline-block;
		font-size: 20px;
		text-align: center;
		text-decoration: none;
		position: relative;
	}

	#btnContainer .active::before {
		content: "";
		height: 2px;
		width: 100%;
		position: absolute;
		bottom: -3px;
		left: 0;
		background-color: var(--nav-text-color-active);
	}

	#btnContainer li .btn:not(.active)::before {
		content: "";
		height: 2px;
		width: 0%;
		position: absolute;
		bottom: -3px;
		left: 50%;
		transform: translate(-50%, 50%);
		background-color: var(--nav-text-color-active);
		transition: width 0.25s ease-in-out;
	}

	#btnContainer li .btn:not(.active):hover::before {
		width: 100%;
		transition: width 0.25s ease-in-out;
	}

	#btnContainer .active {
		color: var(--nav-text-color);
	}

	#btnContainer li:hover,
	.dropdown:hover .dropbtn {
		color: var(--nav-text-color);
	}

	.dropdown-content {
		display: none;
		border-radius: 5px;
		position: absolute;
		background-color: var(--dropdown-content);
		min-width: 160px;
		box-shadow: 5px 8px 10px 0px black;
		margin: 10px;
		z-index: 1;
	}

	.dropdown-content a {
		display: inline-block;
		padding: 12px 16px;
		font-size: 20px;
		color: black;
		text-decoration: none;
		text-align: left;
		position: relative;
		width: 100%;
	}

	.dropdown-content a:hover {
		background-color: gray;
		color: white;
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}

	#expand-menu {
		display: none;
		border: 2px solid var(--background-color-dark);
		position: absolute;
		right: 20px;
		top: 15px;
		margin: 0;
		padding: 0;
		width: 40px;
		height: 40px;
	}

	/* Nav Bar End*/

	/* Error Container Start*/

	.errorContainer {
		display: flex;
		align-items: center;
		margin-inline: auto;
		margin-bottom: 25px;
		padding: 10px;
		width: 75%;
		background-color: pink;
		border-style: solid;
		border-width: 0px 0px 0px 15px;
		border-color: red;
	}

	.warningContainer {
		display: flex;
		align-items: center;
		margin-inline: auto;
		margin-bottom: 25px;
		padding: 10px;
		width: 75%;
		background-color: rgb(250, 123, 84);
		border-style: solid;
		border-width: 0px 0px 0px 15px;
		border-color: #f0541e;
	}

	.successContainer {
		display: flex;
		align-items: center;
		margin-inline: auto;
		margin-bottom: 25px;
		padding: 10px;
		width: 75%;
		background-color: rgb(150, 255, 150);
		border-style: solid;
		border-width: 0px 0px 0px 15px;
		border-color: lime;
	}

	.errorContainer svg {
		margin-right: 10px;
	}


	/* Error Container End*/


	/* Section Start*/

	section {
		padding-block: 25px;
	}


	/* Section End*/

	#section_1 div {
		height: calc(100vh - 80px - 50px);
		width: 50%;
	}

	.flex-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.fade-in_up {
		opacity: 0;
		animation-name: fadeInOpacity;
		animation-iteration-count: 1;
		animation-timing-function: ease-in;
		animation-fill-mode: forwards;
		animation-duration: 0.5s;
	}

	@keyframes fadeInOpacity {
		0% {
			opacity: 0;
			transform: translateY(5px);
		}

		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}


	.animated {
		opacity: 0;
	}

	.fade-in-element {
		animation: fade-in 1.4s;
	}

	@keyframes fade-in {
		from {
			opacity: 0;
			transform: scale(.7, .7)
		}

		to {
			opacity: 1;
		}
	}




	/* Extra large devices (large laptops and desktops, 1200px and up) */
	@media only screen and (max-width: 1200px) {}

	/* Large devices (laptops/desktops, 992px and up) */
	@media only screen and (max-width: 992px) {}

	/* Medium devices (landscape tablets, 768px and up) */
	@media only screen and (max-width: 767px) {
		.headerNavigation-open {
			height: 100vh;
			transition: height 0.25s ease-in-out;
		}

		.logo_li {
			flex-grow: 0;
			width: 100%;
			text-align: center;
			min-height: 70px;
			height: 70px;
			/* background-color: darkgreen; */
		}

		#btnContainer {
			flex-direction: column;
		}

		#expand-menu {
			display: block;
		}
	}

	/* Small devices (portrait tablets and large phones, 600px and up) */
	@media only screen and (max-width: 600px) {}

	/* Extra small devices (phones, 600px and down) */
	@media only screen and (max-width: 600px) {}
}